<!--@subject {{var quote.getStoreGroupName()}}: Proposal for Quote Request # {{var quote.increment_id}} @-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
            </tr>
        </table>
        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
            <tr>
                <td valign="top">
                    <p>
                        <strong>Hello {{var customer.name}}</strong>,<br/><br>
                        Thank you again for your Quote Request from {{var quote.getStoreGroupName()}}.
                        {{if attach_pdf}}<br><br>You will find our proposal in the attached PDF.{{/if}} 
                        {{if attach_doc}}<br>Our Terms and Conditions are also attached as PDF.{{/if}}             
                        
                        {{if quote.getPath()}}<br><br>The {{var quote.getFileTitle()}} can be downloaded here: {{var quote.getFullPath()}}{{/if}}
                        
                        <br>
                         {{layout handle="qquoteadv_email_qquoteadv_items" quote=$quote}}
                        <br><br>
                        Remarks with Proposal:
                        {{depend quote.getClientRequest()}}<br>{{var quote.getClientRequest()}}<br>{{/depend}}<br>
                        You can edit, reject and accept this offer online by <a href='{{var link}}' style="color:#1E7EC8;" >logging into your account and select "My Quotes".</a></p>
                       <i>Conditions:{{depend remark}}<br />{{var remark}}<br />{{/depend}}</i><br>                       
                        If you have any questions about your quote request please contact us at <a href="mailto:dummyemail@magentocommerce.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> or call us at <span                  class="nobr">(555) 555-0123</span> Monday - Friday, 8am - 5pm PST.
                    </p><br> 
				</td>
			</tr>
		</table>		
     </td>
	</tr>
</table>
</div>