<!--@subject Wachtwoord wijzigen voor {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{customVar code=email_header}}

                                <p><strong>Beste {{htmlescape var=$customer.name}},</strong></p>
                                <p>Er is een verzoek gedaan om het wachtwoord van uw account te wijzigen.</p>
                                <p>Klik op de volgende link, als u dit verzoekt heeft ingediend, om uw wachtwoord te veranderen: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <br />
                                <p>Wanneer u dit verzoek niet heeft ingediend kunt u deze mail negeren en blijft uw wachtwoord onveranderd.</p>
                            	<p>Met vriendelijke groet,</p>
	                            <p><strong>{{var store.getFrontendName()}}</strong></p>

{{customVar code=email_footer}}

