<!--@subject Welkom, {{var customer.name}}! @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var customer.email":"Customer Email",
"htmlescape var=$customer.password":"Customer Password"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <!-- [ header starts here] -->
                <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></td>
                    </tr>
                <!-- [ middle starts here] -->
                    <tr>
                        <td valign="top">
                            <h1 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Beste {{htmlescape var=$customer.name}},</h1>

                            <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Bedankt voor de aanmelding bij {{var store.getFrontendName()}}.
                            Toegang tot de account is eenvoudig te verkrijgen door het volgen van de snelkoppeling '<a href="{{store url="customer/account/"}}"
                                style="color:#1E7EC8;">Log in</a>' bovenaan iedere pagina of gebruik die genaamd
                            '<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mijn account</a>'.
                            De gegevens benodigd voor het aanmelden bestaan uit het e-mailadres in combinatie met het wachtwoord welke gebruikt zijn bij registratie.</p>

                             <p style="border:1px solid #E0E0E0; font-size:12px; line-height:16px; margin:0 0 16px 0; padding:13px 18px; background:#f9f9f9;">
                                Voor de volledigheid hebben we ze hieronder nog even vermeld:<br/>
                                <strong>E-mail:</strong> {{var customer.email}}<br/>
                                <strong>Wachtwoord:</strong> {{htmlescape var=$customer.password}}<p>

                             <p style="font-size:12px; line-height:16px; margin:0 0 8px 0;">Na inloggen is het eenvoudig:</p>
                             <ul style="font-size:12px; line-height:16px; margin:0 0 16px 0; padding:0;">
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; N&oacute;g sneller bestellingen te plaatsen, de voorkeuren blijven behouden door de sessies heen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; Inzien geschiedenis eerdere bestellingen en aankopen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; Wijzigingen van factuur- en afleveradressen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; Wijzigen overige gegevens van de account</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; Aan- en afmelden voor ontvangst nieuwsbrieven en aanbiedingen</li>
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; Het wachtwoord van de account wijzigen</li>
                                <!--(rje) NOTE: this depends on setting, a lot of merchants may not allow for this. Drop altogether?-->
                                <li style="list-style:none inside; padding:0 0 0 10px;">&middot; Verschillende afleveradressen aan te maken en naar verschillende adressen te versturen. Handig voor het sturen van cadeau's naar vrienden en familie!</li>
                            </ul>

                            <p style="font-size:12px; line-height:16px; margin:0;">
                            Verdere vragen of opmerkingen? Neem gerust contact met ons op: stuur een e-mailbericht naar
                            <a href="mailto:{{config path='trans_email/ident_support/email'}}"
                                style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> of telefonisch via
                            {{config path='general/store_information/phone'}}.</p>
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;">
                            <center>
                                <p style="font-size:12px; margin:0;">
                                Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong>
                                </p>
                            </center>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</body>

