<!--@subject Wachtwoord wijzigen voor {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/resetpassword/\" _query_id=$customer.id _query_token=$customer.rp_token":"Reset Password URL"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

{{template config_path="design/email/header"}} {{inlinecss file="email-inline.css"}}

                                <p><strong>Beste {{htmlescape var=$customer.name}},</strong></p>
                                <p>Er is een verzoek gedaan om het wachtwoord van uw account te wijzigen.</p>
                                <p>Heeft u dit verzoek ingediend? Klik dan op de volgende link om uw wachtwoord te veranderen: <a href="{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}" style="color:#1E7EC8;">{{store url="customer/account/resetpassword/" _query_id=$customer.id _query_token=$customer.rp_token}}</a></p>
                                <br />
                                <p>Heeft u dit verzoek niet ingediend, dan kunt u deze mail negeren en blijft uw wachtwoord ongewijzigd.</p>
                            	<p>Met vriendelijke groet,</p>
	                            <p><strong>{{var store.getFrontendName()}}</strong></p>

{{template config_path="design/email/footer"}}

