<!--@subject Nieuw wachtwoord voor {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


{{customVar code=email_header}}

                            <p><strong>Beste {{htmlescape var=$user.name}}</strong>,</p>
                            <p>Uw nieuwe wachtwoord is: {{htmlescape var=$password}}</p>
                            <p>U kunt uw wachtwoord op ieder moment wijzigen via  <a href="{{store url="adminhtml/system_account/"}}">Mijn account</a>.<p>

                            <p>Met vriendelijke groet,</p>
                            <p><strong>{{config path="general/store_information/name"}}</strong></p>

{{customVar code=email_footer}}

