<!--@subject Nieuw wachtwoord voor {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"htmlescape var=$password":"Admin Password",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Beste {{htmlescape var=$user.name}},</h1>
            <p><strong>uw nieuwe wachtwoord is:</strong> {{htmlescape var=$password}}</p>
            <p>U kunt uw wachtwoord op ieder gewenst moment aanpassen wanneer u <a href="{{store url="adminhtml/system_account/"}}">inlogt</a> op onze webshop.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
