<!--@subject Bevestig wijzigen wachtwoord voor {{var user.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$user.name":"Admin Name",
"store url=\"adminhtml/index/resetpassword/\" _query_id=$user.id _query_token=$user.rp_token":"Reset Password URL",
"store url=\"adminhtml/system_account/\"":"Admin Account Url"}
@-->

<!--@styles
@-->

{{template config_path="design/email/header"}}
{{inlinecss file="email-inline.css"}}

<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td class="action-content">
            <h1>Beste {{htmlescape var=$user.name}},</h1>
            <p>Er is een verzoek geweest om het wachtwoord van uw account te wijzigen.</p>
            <p>Als u dit verzoek zelf heeft gedaan, kunt u op de volgende link klikken om uw wachtwoord te wijzigen:</p>
            <table cellspacing="0" cellpadding="0" class="action-button">
                <tr>
                    <td>
                        <a href="{{store url="adminhtml/index/resetpassword/" _query_id=$user.id _query_token=$user.rp_token}}"><span>Wachtwoord wijzigen</span></a>
                    </td>
                </tr>
            </table>
            <p>Als u niet zelf het verzoek om uw wachtwoord te wijzigen heeft gedaan, kunt u deze e-mail negeren. Uw wachtwoord blijft dan hetzelfde.</p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer"}}
