<!--@subject Newsletter subscription confirmation @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"htmlescape var=$subscriber.first_name":"Subscriber First Name",
"htmlescape var=$subscriber.last_name":"Subscriber Last Name",
"var subscriber.getConfirmationLink()":"Subscriber Confirmation Url"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a></p></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Beste {{htmlescape var=$subscriber.last_name}} {{htmlescape var=$subscriber.first_name}}</strong>,<br/>
                            Bedankt voor de abonnering op onze nieuwsbrief.</p>
                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                            Om de aanmelding definitief te maken, dient deze eerst nog even bevestigd te worden door op de volgende snelkoppeling te klikken:
                            <br />
                            <a href="{{var subscriber.getConfirmationLink()}}" style="color:#1E7EC8;">{{var subscriber.getConfirmationLink()}}</a>
                            </p>

                            <br/>
                                <p style="font-size:12px; margin:0;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p>

                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
