<p>FollowUp Email extension template variables demo list.</p>
<br />
<h4>ORDER</h4>
<ul>
	<li>
		var <b>order.getBillingAddress().format('html')</b>:<br />
		{{var order.getBillingAddress().format('html')}}<br />
		<br />
	</li>
	<li>
		var <b>order.getBillingAddress().getName()</b>:<br />
		{{var order.getBillingAddress().getName()}}<br />
		<br />
	</li>
	<li>
		var <b>order.getCreatedAtFormated('long')</b>:<br />
		{{var order.getCreatedAtFormated('long')}}<br />
		<br />
	</li>
	<li>
		var <b>order.getCustomerName()</b>:<br />
		{{var order.getCustomerName()}}<br />
		<br />
	</li>
	<li>
		var <b>order.getShippingAddress().format('html')</b>:<br />
		{{var order.getShippingAddress().format('html')}}<br />
		<br />
	</li>
	<li>
		var <b>order.getShippingDescription()</b>:<br />
		{{var order.getShippingDescription()}}<br />
		<br />
	</li>
	<li>
		var <b>order.getStoreGroupName()</b>:<br />
		{{var order.getStoreGroupName()}}<br />
		<br />
	</li>
	<li>
		var <b>order.increment_id</b>:<br />
		{{var order.increment_id}}<br />
		<br />
	</li>
</ul>
<br />
<h4>CART</h4>
<br />
<ul>
	<li>
		var <b>cart.getCustomerFirstname()</b>:<br />
		{{var cart.getCustomerFirstname()}}<br />
		<br />
	</li>
	<li>
		var <b>cart.getCustomerLastname()</b>:<br />
		{{var cart.getCustomerLastname()}}<br />
		<br />
	</li>
	<li>
		var <b>cart.getCustomerName()</b>:<br />
		{{var cart.getCustomerName()}}<br />
		<br />
	</li>
	<li>
		var <b>cart.getCustomerEmail()</b>:<br />
		{{var cart.getCustomerEmail()}}<br />
		<br />
	</li>
</ul>
<br />
<h4>PRODUCT</h4>
<ul>
	<li>
		var <b>product.getSku()</b>:<br />
		{{var product.getSku()}}<br />
		<br />
	</li>
	<li>
		var <b>product.getName()</b>:<br />
		{{var product.getName()}}<br />
		<br />
	</li>
	<li>
		var <b>product.getPrice()</b>:<br />
		{{var product.getPrice()}}<br />
		<br />
	</li>
	<li>
		var <b>product.getFinalPrice()</b>:<br />
		{{var product.getFinalPrice()}}<br />
		<br />
	</li>
	<li>
		var <b>product.getStatus()</b>:<br />
		{{var product.getStatus()}}<br />
		<br />
	</li>
</ul>
<br />