<!--@subject Nieuw wachtwoord voor {{var customer.name}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image",
"store url=\"customer/account/\"":"Customer Account Url",
"htmlescape var=$customer.name":"Customer Name",
"htmlescape var=$customer.password":"Customer New Password"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->


{{template config_path="design/email/header"}} {{inlinecss file="email-inline.css"}}

                            <p><strong>Beste {{htmlescape var=$customer.name}}</strong>,</p>
                            <p>Uw nieuwe wachtwoord is: {{htmlescape var=$customer.password}}</p>
                            <p>U kunt uw wachtwoord op ieder moment wijzigen via <a href="{{store url="customer/account/"}}">Mijn account</a>.<p>

                            <p>Heeft u nog vragen, neem dan gerust contact met ons op. <a href="mailto:{{config path="trans_email/ident_general/email"}}">{{config path="trans_email/ident_general/email"}}</a> of telefonisch <span class="nobr">{{config path="general/store_information/phone"}}</span>.</p>

                            <p>Met vriendelijke groet,</p>
                            <p><strong>{{config path="general/store_information/name"}}</strong></p>

{{template config_path="design/email/footer"}}

