<!--@subject Producten weer op voorraad @-->

<style type="text/css">
    body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>


{{template config_path="design/email/header"}} {{inlinecss file="email-inline.css"}}

                            <p><strong>Beste {{var customer.firstname}},</strong>,</p>
                            <p>De volgende producten zijn weer op voorraad:</p>
                            {{var alertGrid}}

{{template config_path="design/email/footer"}}

