{* Dit is een opmerkingenblok

Beschikbare variabelen in dit sjabloon:
  - $userName           Gebruikersnaam
  - $applicationName    Naam applicatie
  - $status             Nieuwe status token

Gebruik variabelen: {{var var_name}}
*}<!--@subject Welcome, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Hallo, {{htmlescape var=$userName}}<br /><br />
De authorisatie voor <b>{{htmlescape var=$applicationName}}</b> is door de beheerder gewijzigd naar <b>{{htmlescape var=$status}}</b>.<br /><br />

