{* This is a comment block

Use vars: {{var var_name}}
*}<!--@subject Rappel d'échec de transaction de paiement @-->
<!--@vars
{"var reason":"Transaction Failed Reason",
"var checkoutType":"Checkout Type",
"var customerEmail":"Customer Email",
"var customer":"Customer Name",
"var items":"Shopping Cart Items",
"var total":"Total",
"var billingAddress.format('html')":"Billing Address",
"var shippingAddress.format('html')":"Shipping Address",
"var shippingMethod":"Shipping Method",
"var paymentMethod":"Payment Method",
"var dateAndTime":"Date and Time of Transaction"}
@-->

<table>
    <thead>
        <tr>
            <th>Une transaction de paiement a échoué.</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>Raison</b><br />
                    {{var reason}}
                </p>
                <p><b>Type de passage de commande</b><br />
                    {{var checkoutType}}
                </p>
                <p>
                  <b>Client&nbsp;:</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p><b>Articles&nbsp;:</b><br />
                    {{var items}}
                </p>
                <p>
                  <b>Total&nbsp;:</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>Adresse de facturation&nbsp;:</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                  <b>Adresse de livraison&nbsp;:</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                  <b>Mode de livraison&nbsp;:</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                  <b>Mode de paiement&nbsp;:</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                  <b>Date &amp; Heure&nbsp;:</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>
