{* Il s'agit d'un bloc de commentaires

Variables disponibles dans ce modèle:
  - $userName           Nom Utilisateur
  - $applicationName    Nom de l'application ou rôle(Application name)
  - $status             Nouveau status Utilisateur (Token new status)

Use vars: {{var var_name}}
*}<!--@subject Bonjour, {{var name}} @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

Bonjour {{htmlescape var=$userName}},<br /><br />

Votre autorisation d'accès pour l'application <b>{{htmlescape var=$applicationName}}</b> a été passée au statut <b>{{htmlescape var=$status}}</b> par l'administrateur.<br /><br />

