<!--@subject {{var customer_name}} heeft u uitgenodigd op {{var store_name}}@-->
<!--
<pre>
[[ help ]]
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
friend_email : {{var friend_email}}
store_name : {{var store_name}}
points_transfered : {{var points_transfered}}
</pre>
-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Hallo!</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Een vriend van je, {{var customer_name}}, probeerde je zojuist een gift te doen van <b>{{var points_transfered}}</b> op <a href="{{store url=""}}">{{var store_name}}</a>, maar kon dit niet doen omdat je geen account hebt op de website.</p>
                        <p style="font-size:12px; line-height:16px; margin:0;">Vergezelschap hem nu door <a href="{{store url="customer/account/create"}}">een account aan te maken op {{var store_name}}</a> en mis deze kans niet meer in de toekomst.</p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>