<!--@subject Een cadeau'tje van een vriend, {{var customer_name}}@-->
<!-- 
<pre>
[[ help ]]
store url : {{store url}}
customer_name : {{var customer_name}}
customer_email : {{var customer_email}}
friend_name : {{var friend_name}}
friend_email : {{var friend_email}}
store_name : {{var store_name}}
points_transfered : {{var points_transfered}}
comment : {{var comment}}
</pre>
-->
<body style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<div style="background:#F6F6F6; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
<table cellspacing="0" cellpadding="0" border="0" height="100%" width="100%">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0">
            <!-- [ header starts here] -->
            <table bgcolor="FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;">
                <tr>
                    <td valign="top">
                        <a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{var logo_url}}" alt="{{var logo_alt}}" border="0"/></a>
                    </td>
                </tr>
                <!-- [ middle starts here] -->
                <tr>
                    <td valign="top">
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">Beste {{var friend_name}},</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">U heeft zojuist <b>{{var points_transfered}}</b> van uw vriend, {{var customer_name}} ({{var customer_email}}) ontvangen, welke u kunt uitgeven op <a href="{{store url=""}}">{{var store_name}}</a>.</p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 16px 0;">U kunt eenvoudig <a href="{{store url="customer/account/login"}}">inloggen op uw accountt</a> en direct producten aanschaffen met uw punten.</p>
                        <p style="font-size:12px; line-height:16px; margin:0;">{{var customer_name}}'s persoonlijke bericht: <br />
                            <i>{{var comment}}</i>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA; text-align:center;"><center><p style="font-size:12px; margin:0;">Met vriendelijke groet, <strong>{{var store.getFrontendName()}}</strong></p></center></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</div>
</body>


